.navbar {
    background-color: #619477; /* Deep, muted blue */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .title-animation {
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .navbar-title h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .navbar-title h1 {
      font-size: 1.5rem; /* Adjust size for smaller screens */
    }
  }

